venv
.env
data/
__pycache__
temp_data
logs

# Chatbot
src/chatbot/chroma_db
src/chatbot/processed_influencer_ids.txt
src/chatbot/processed_brand_ids.txt
src/chatbot/chroma_db_groq

# SRC
src/similarity_matches.json
src/recommender/boost_analysis.json

# Frontend
frontend/node_modules
frontend/package-lock.json

chroma_db_groq