apify-client
ipykernel
python-dotenv
langchain-google-vertexai
google-cloud-aiplatform
pandas
psycopg2
requests
beautifulsoup4
requests_html
lxml_html_clean 
selenium
joblib
google-genai
pymongo[srv]
langchain
langgraph
