fastapi
uvicorn[standard]
motor
pydantic[email]
pydantic-settings
python-jose[cryptography]
bcrypt
python-socketio
python-multipart
aiofiles
langchain-groq
langchain-huggingface
langchain-community
langchain-text-splitters
chromadb
sentence-transformers
pypdf
python-dotenv
